/* Import fonts first */
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles */
body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rajdhani', sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f6f930;
}

::-webkit-scrollbar {
    width: 5px;
}